In [27]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

In [28]:
fake_data = pd.read_csv(r'Fake.csv/Fake.csv',)
true_data = pd.read_csv(r'True.csv/True.csv')

fake_data['target'] = 1
true_data['target']= 0

In [29]:
data= pd.concat([fake_data,true_data],axis=0)

I want to check if the subject has some thing to do with the efficacy

In [30]:
true_data['subject'].value_counts()

subject
politicsNews    11272
worldnews       10145
Name: count, dtype: int64

In [31]:
fake_data['subject'].value_counts()

subject
News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: count, dtype: int64

I fell all categories under fake news arre wrld news, so i do not think it affect

In [32]:
data['subject'].value_counts()

subject
politicsNews       11272
worldnews          10145
News                9050
politics            6841
left-news           4459
Government News     1570
US_News              783
Middle-east          778
Name: count, dtype: int64

In [33]:
data

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [34]:
data['target'].value_counts()

target
1    23481
0    21417
Name: count, dtype: int64

In [35]:
data['whole_text'] = data['title'] + " " + data['text'] + data['subject']

In [36]:
data

,title,text,subject,date,target,whole_text
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1,Donald Trump Sends Out Embarrassing New Year’...
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1,Drunk Bragging Trump Staffer Started Russian ...
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1,Sheriff David Clarke Becomes An Internet Joke...
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1,Trump Is So Obsessed He Even Has Obama’s Name...
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1,Pope Francis Just Called Out Donald Trump Dur...
...,...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0,'Fully committed' NATO backs new U.S. approach...
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0,LexisNexis withdrew two products from Chinese ...
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0,Minsk cultural hub becomes haven from authorit...
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0,Vatican upbeat on possibility of Pope Francis ...
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0,Indonesia to buy $1.14 billion worth of Russia...

splitting data

In [37]:
x_train, x_test, y_train, y_test = train_test_split(data['whole_text'], data['target'], test_size=0.2, random_state=42)

In [38]:
x_train

12854    Turkey's Erdogan says U.S. Jerusalem decision ...
12384    BREAKING: Trump Reportedly Considering Ted Cru...
938      Trump chief of staff's Civil War comment spark...
1259     Saudi Arabia welcomes new U.S. strategy toward...
3558     Trump arrives in Sicily ahead of Group of Seve...
                               ...
11284    UNREAL! CBS’S TED KOPPEL Tells Sean Hannity He...
21251    PM May seeks to ease Japan's Brexit fears duri...
14677    Merkel: Difficult German coalition talks can r...
860       Trump Stole An Idea From North Korean Propaga...
15795    BREAKING: HILLARY CLINTON’S STATE DEPARTMENT G...
Name: whole_text, Length: 35918, dtype: object

In [39]:
y_train

12854    0
12384    1
938      0
1259     0
3558     0
        ..
11284    1
21251    0
14677    0
860      1
15795    1
Name: target, Length: 35918, dtype: int64

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB

In [41]:
knn_pipe= Pipeline([
    ('vectorizer', CountVectorizer(ngram_range=(1,3))),
    ('model',KNeighborsClassifier(n_neighbors=10, metric='euclidean'))
])

knn_pipe.fit(x_train, y_train )

y_pred = knn_pipe.predict(x_test)


report_knn = classification_report(y_pred, y_test)
print(report_knn)

In [ ]:
knn_pipe2= Pipeline([
    ('vectorizer', CountVectorizer(ngram_range=(1,3))),
    ('model',KNeighborsClassifier(n_neighbors=10, metric='cosine'))
])

knn_pipe2.fit(x_train, y_train )

y_pred = knn_pipe2.predict(x_test)


report_knn2 = classification_report(y_pred, y_test)
print(report_knn2)

              precision    recall  f1-score   support

           0       0.48      0.92      0.63      2227
           1       0.96      0.67      0.79      6753

    accuracy                           0.73      8980
   macro avg       0.72      0.79      0.71      8980
weighted avg       0.84      0.73      0.75      8980

In [ ]:
forest= Pipeline([
    ('vectorizer', CountVectorizer(ngram_range=(3,3))),
    ('model',RandomForestClassifier())
])

forest.fit(x_train, y_train )

y_pred = forest.predict(x_test)


report_forest = classification_report(y_pred, y_test)
print(report_forest)

KeyboardInterrupt

In [ ]:
mnb= Pipeline([
    ('vectorizer', CountVectorizer(ngram_range=(1,2))),
    ('model',MultinomialNB(alpha = 0.75))
])

mnb.fit(x_train, y_train )

y_pred = mnb.predict(x_test)


report_mnb = classification_report(y_pred, y_test)
print(report_mnb)

NOW LET US TRY WITH TPREPROCESSED DATA

In [ ]:
import spacy
nlp = spacy.load('en_core_web')

def preprocess(text):
    doc = nlp(text)
    lemmatized_word = []
    for token in doc:
        if token.is_punct or token.is_stop:
            continue
        else:
            lemmatized_word.append(token.lemma_)
    return " ".join(lemmatized_word)

In [ ]:
data['preprocessed_data'] =data['whole_text'].apply(lambda x: preprocess(x))

In [ ]:
x_train_preprocess, x_test_preprocess, y_train_preprocess, y_test_preprocess = train_test_split(data['preprocessed_text'], data['target'], test_size=0.2, random_state=2022, stratify=data['target'])

In [ ]:
forest_preproccessed= Pipeline([
    ('vectorizer', CountVectorizer(ngram_range=(3,3))),
    ('model',RandomForestClassifier())
])

forest_preproccessed.fit(x_train, y_train )

y_pred = forest_preproccessed.predict(x_test)


report_forest_preproccessed = classification_report(y_pred, y_test)
print(report_forest_preproccessed)

In [ ]:
forest_preproccessed2= Pipeline([
    ('vectorizer', CountVectorizer(ngram_range=(1,3))),
    ('model',RandomForestClassifier())
])

forest_preproccessed2.fit(x_train, y_train )

y_pred = forest_preproccessed2.predict(x_test)


report_forest_preproccessed2 = classification_report(y_pred, y_test)
print(report_forest_preproccessed2)

//The reason multinomial naive bayes is  good for text classification is because it can easily calculate the probability of each word in our bag of word and store in a contigency table

The reason knn dont work well for text data especially ones with tri-gram is because it is not friendly to high dimensionality data, because it takes more computing power to find the distance between dimensions

Random forest did well, because it uses bootstrapping  with many decision trees, which helps overcome overfitting of high dimensional data and also use features importance of words for better classifying the categories